<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script defer src="https://kit.fontawesome.com/2b395b964e.js" crossorigin="anonymous"></script>

  <title>Sentiment Analysis Explained</title>
</head>

<body>
  <div class="container-fluid bg-light">
  <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" href="/">SAE <i class="fas fa-theater-masks"></i></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="sentimentAnalysis">What is Sentiment Analysis?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-success" href="about">About Us</a>
              </li>
            </ul>
          </div>
  </nav>
  <hr class="my-0">
  </div>

  <div class="container text-center padding">

    <div class="row padding text-center justify-content-around">
      <div class="col-lg-11" style="margin-top: 2rem;">
        <h2 class="display-6">Why Sentiment Analysis?</h2>
      <p>The the internet has become the primary form of expression in modern society.
  Because social media has no primary demographic, analyzing the thoughts and opinions of its users can be of value to organizations such as
  marketing teams, journalists, and even political campaign coordinators. While tools exist to compile
  and understand the majority opinion, the process is currently largely manual.
  This requires individuals to sift through thousands of posts to determine how the public
  feels on a given topic. What is even more difficult is compiling a comprehensive list of
  the common points of public praise, as well as what users criticize when they speak
  negatively on a certain topic. We have attempted to simplify this process to allow users to visualize and understand sentiment on keywords included in tweets.</p>
      </div>
    </div>
  </div>

  <div class="container text-center padding">

  <div class="row padding text-center justify-content-around">
    <div class="col-lg-11" style="margin-top: 2rem;">
      <h2 class="display-6">How it works.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, autem, hic. Amet nemo veniam quisquam ex officiis eligendi deserunt voluptatem quibusdam libero laborum laboriosam ipsa maiores, dolor, architecto commodi suscipit ab, iste beatae nam debitis, dignissimos. Accusamus beatae iste rerum nemo est hic delectus, eum sequi qui quo, alias vitae reprehenderit optio assumenda quas ducimus necessitatibus iusto possimus id odit commodi at laudantium. Laborum praesentium illum dicta, omnis aspernatur itaque dolore velit, saepe veritatis eveniet a id nobis magni aliquid sint ut quos tempora sed vitae. Soluta repellendus ratione nulla, fuga, odio, laboriosam itaque perspiciatis reiciendis ducimus necessitatibus quo doloribus!</p>
    </div>
  </div>
</div>
</div>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>

  </html>
